<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />

    <title>{{title}}</title>
</head>

<body>
    <h1>{{title}}</h1>
    <main>
        {{content | safe}}
    </main>
</body>

</html>
