/*
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}


/* Remove the margin in all browsers. */
body {
  margin: 0;
}


/* think about it!!!!!!!!!!!! */
h1 {
font-size: 2em;
margin: 0.67em 0;
}


/* Add the correct text decoration in Safari. */
abbr[title] {
-webkit-text-decoration: underline dotted;
}


/* Add the correct font weight in Chrome and Safari. */
b,
strong {
font-weight: bolder;
}


/*
1. Correct the inheritance and scaling of font size in all browsers.
2. Correct the odd `em` font sizing in all browsers.
*/
pre,
code,
kbd,
samp {
font-family: monospace, monospace; /* 1 */
font-size: 1em; /* 2 */
}


/* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */
sub,
sup {
line-height: 0;
}


/*
1. Change the font styles in all browsers.
2. Remove the margin in Safari and `textarea` margin in Firefox.
*/
button,
input,
optgroup,
select,
textarea {
font-family: inherit; /* 1 */
font-size: 100%; /* 1 */
line-height: inherit; /* 1 */
margin: 0; /* 2 */
}


/* Correct the inability to style clickable types in iOS and Safari. */
[type="button"],
[type="reset"],
[type="submit"] {
-webkit-appearance: button;
}


/* Remove the inner border and padding in Firefox. */
::-moz-focus-inner {
border-style: none;
padding: 0;
}


/* Restore the focus styles unset by the previous rule. */
:-moz-focusring {
outline: 1px dotted ButtonText;
}


/* Correct the cursor style of increment and decrement buttons in Safari. */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
height: auto;
}


/* Correct the odd appearance in Safari. */
[type="search"] {
-webkit-appearance: textfield;
}


/* Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}


/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
-webkit-appearance: button; /* 1 */
font: inherit; /* 2 */
}


/* Add the correct display in Chrome and Safari. */
summary {
display: list-item;
}


::placeholder {
color: #757575;
opacity: 1;
/* FOR SAFARI????? */
line-height: normal/inherit; /* see: https://github.com/necolas/normalize.css/pull/775  */
}

@media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]:after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    img {
      max-width: 100% !important;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  pre,
  code {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
  
  pre {
    padding: .5rem;
    line-height: 1.25;
    overflow-x: scroll;
  }
  
  a,
  a:visited {
    color: #3498db;
  }
  
  a:hover,
  a:focus,
  a:active {
    color: #2980b9;
  }
  
  .modest-no-decoration {
    text-decoration: none;
  }
  
  html {
    font-size: 12px;
  }
  
  @media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
      font-size: 15px;
    }
  }
  
  @media screen and (min-width: 48rem) {
    html {
      font-size: 16px;
    }
  }
  
  body {
    line-height: 1.85;
  }
  
  p,
  .modest-p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }
  
  h1,
  .modest-h1,
  h2,
  .modest-h2,
  h3,
  .modest-h3,
  h4,
  .modest-h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
  }
  
  h1,
  .modest-h1 {
    margin-top: 0;
    font-size: 3.998rem;
  }
  
  h2,
  .modest-h2 {
    font-size: 2.827rem;
  }
  
  h3,
  .modest-h3 {
    font-size: 1.999rem;
  }
  
  h4,
  .modest-h4 {
    font-size: 1.414rem;
  }
  
  h5,
  .modest-h5 {
    font-size: 1.121rem;
  }
  
  h6,
  .modest-h6 {
    font-size: .88rem;
  }
  
  small,
  .modest-small {
    font-size: .707em;
  }
  
  /* https://github.com/mrmrs/fluidity */
  
  img,
  canvas,
  iframe,
  video,
  svg,
  select,
  textarea {
    max-width: 100%;
  }

  
  html {
    font-size: 18px;
    max-width: 100%;
  }
  
  body {
    color: #444;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 48rem;
    line-height: 1.45;
    padding: .25rem;
  }
  
  
  h1,
  h2,
  h3 {
    border-bottom: 2px solid #fafafa;
    margin-bottom: 1.15rem;
    padding-bottom: .5rem;
    text-align: center;
  }
  
  blockquote {
    border-left: 8px solid #fafafa;
    padding-left: 1rem;
  }
  
  pre,
  code {
    background-color: #fafafa;
  }